:root {
  --default-font-size: 1em;
  --font-growth-rate: 0.285vw;
  --font-family: 'Ubuntu', sans-serif;

  --h1-font-size: 2.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1.25rem;
  --p-font-size: 1rem;

  --h1-growth-rate: 0vw;
  --h2-growth-rate: 0vw;
  --h3-growth-rate: 0vw;
  --h4-growth-rate: 0vw;
  --h5-growth-rate: 0vw;
  --h6-growth-rate: 0vw;
  --p-growth-rate: 0vw;

  --extra-large: 4px;
  --large: 2px;
  --small: 2px;
  --extra-small: 4px;

  --header-margin-top: 5px;
  --header-margin-bot: 10px;

  --subheader-margin-top: 0;
  --subheader-margin-bot: 10px;

  --p-margin-top: 0;
  --p-margin-bot: 10px;
}
html {
  font-size: calc(var(--default-font-size) + var(--font-growth-rate));
}
/* H1 TEXT SIZE */
h1 {
  font-size: calc(var(--h1-font-size) + var(--h1-growth-rate));
}

/* H2 TEXT SIZE */
h2 {
  font-size: calc(var(--h2-font-size) + var(--h2-growth-rate));
}
/* H3 TEXT SIZE */
h3 {
  font-size: calc(var(--h3-font-size) + var(--h3-growth-rate));
}
/* H4 TEXT SIZE */
h4 {
  font-size: calc(var(--h4-font-size) + var(--h4-growth-rate));
}

/* H5 TEXT SIZE */
h5 {
  font-size: calc(var(--h5-font-size) + var(--h5-growth-rate));
}
/* H6 TEXT SIZE */
h6 {
  font-size: calc(var(--h6-font-size) + var(--h6-growth-rate));
}
/* P TEXT SIZE */
p {
  font-size: calc(var(--p-font-size) + var(--p-growth-rate));
}
/* EXTRA LARGE TEXT */
h1.extra-large {
  font-size: calc(
    (var(--h1-font-size) + var(--extra-large)) + var(--h1-growth-rate)
  );
}
h2.extra-large {
  font-size: calc(
    (var(--h2-font-size) + var(--extra-large)) + var(--h2-growth-rate)
  );
}
h3.extra-large {
  font-size: calc(
    (var(--h3-font-size) + var(--extra-large)) + var(--p-growth-rate)
  );
}
h4.extra-large {
  font-size: calc(
    (var(--h4-font-size) + var(--extra-large)) + var(--h4-growth-rate)
  );
}
h5.extra-large {
  font-size: calc(
    (var(--h5-font-size) + var(--extra-large)) + var(--h5-growth-rate)
  );
}
h6.extra-large {
  font-size: calc(
    (var(--h6-font-size) + var(--extra-large)) + var(--h6-growth-rate)
  );
}
p.extra-large {
  font-size: calc(
    (var(--p-font-size) + var(--extra-large)) + var(--p-growth-rate)
  );
}
/* LARGE TEXT */
h1.large {
  font-size: calc((var(--h1-font-size) + var(--large)) + var(--h1-growth-rate));
}
h2.large {
  font-size: calc((var(--h2-font-size) + var(--large)) + var(--h2-growth-rate));
}
h3.large {
  font-size: calc((var(--h3-font-size) + var(--large)) + var(--h3-growth-rate));
}
h4.large {
  font-size: calc((var(--h4-font-size) + var(--large)) + var(--h4-growth-rate));
}
h5.large {
  font-size: calc((var(--h5-font-size) + var(--large)) + var(--h5-growth-rate));
}
h6.large {
  font-size: calc((var(--h6-font-size) + var(--large)) + var(--h6-growth-rate));
}
p.large {
  font-size: calc((var(--p-font-size) + var(--large)) + var(--p-growth-rate));
}
/* SMALL TEXT */
h1.small {
  font-size: calc((var(--h1-font-size) - var(--small)) + var(--h1-growth-rate));
}
h2.small {
  font-size: calc((var(--h2-font-size) - var(--small)) + var(--h2-growth-rate));
}
h3.small {
  font-size: calc((var(--h3-font-size) - var(--small)) + var(--h3-growth-rate));
}
h4.small {
  font-size: calc((var(--h4-font-size) - var(--small)) + var(--h4-growth-rate));
}
h5.small {
  font-size: calc((var(--h5-font-size) - var(--small)) + var(--h5-growth-rate));
}
h6.small {
  font-size: calc((var(--h6-font-size) - var(--small)) + var(--h6-growth-rate));
}
p.small {
  font-size: calc((var(--p-font-size) - var(--small)) + var(--p-growth-rate));
}
/* EXTRA SMALL */
h1.extra-small {
  font-size: calc(
    (var(--h1-font-size) - var(--extra-small)) + var(--h1-growth-rate)
  );
}
h2.extra-small {
  font-size: calc(
    (var(--h2-font-size) - var(--extra-small)) + var(--h2-growth-rate)
  );
}
h3.extra-small {
  font-size: calc(
    (var(--h3-font-size) - var(--extra-small)) + var(--h3-growth-rate)
  );
}
h4.extra-small {
  font-size: calc(
    (var(--h4-font-size) - var(--extra-small)) + var(--h4-growth-rate)
  );
}
h5.extra-small {
  font-size: calc(
    (var(--h5-font-size) - var(--extra-small)) + var(--h5-growth-rate)
  );
}
h6.extra-small {
  font-size: calc(
    (var(--h6-font-size) - var(--extra-small)) + var(--h6-growth-rate)
  );
}
p.extra-small {
  font-size: calc(
    (var(--p-font-size) - var(--extra-small)) + var(--p-growth-rate)
  );
}
h1,
h2 {
  margin-top: var(--header-margin-top);
  margin-bottom: var(--header-margin-bot);
}
h3,
h4,
h5,
h6 {
  margin-top: var(--subheader-margin-top);
  margin-bottom: var(--subheader-margin-bot);
}
p {
  margin-top: var(--p-margin-top);
  margin-bottom: var(--p-margin-bot);
}

/*
    Font Weights
*/
.fontWeight-300 {
  font-weight: 300;
}
.fontWeight-400 {
  font-weight: 400;
}
.fontWeight-500 {
  font-weight: 500;
}
.fontWeight-700 {
  font-weight: 700;
}
